.valuesPage
  padding-top: 5%
  &__pageName
    width: 460px
    h2
      width: 350px
  &__h
    font-size: 1.5em
    text-transform: uppercase
    font-family: $roboto
  &__p
    font-family: $serif
    line-height: 27px
    font-size: 18px
    padding-bottom: 24px
  &__plainText
    padding: 3vw 0
  &__listItem
    list-style: none
    font-size: 18px
    font-family: $serif
    line-height: 27px
    &::before
      content: ""
      width: 10px
      height: 10px
      background-color: $main-color
      display: inline-block
      vertical-align: middle
      border-radius: 50%
      margin-right: 20px