@import "libs"
@import "fonts"
@import "vars"

//main page

// set bg
body
	background-image: url("../img/draw.jpg")
	background-size: 100% 100%
	background-repeat: no-repeat
	position: relative
	overflow-x: hidden

.index
	margin-top: 8%

// laeft panel
.leftPanel
	margin-top: 8%
	.logoContainer
		text-align: center
		&::after 
			content: ""
			background-image: url("../img/main-page/drawup.png")	
			background-size: 370px 290px
			background-repeat: no-repeat
			z-index: -1
			width: 370px
			height: 300px
			position: absolute
			left: 35px
			top: -37px
	&__logo
		width: 200px
		height: 200px
	&__headerNews
		font-family: Roboto Condensed, arial
		font-size: 30px
		line-height: 20px
		font-weight: 400
		text-align: center
		color: #5b5b6e
	&__news 
		width: 100%
	&__books
		text-align: center
	
// news block style
.news
	&__block
		background-color: #efefef
		margin-bottom: 30px
		position: relative
		&::after
			content: ""
			position: absolute
			box-shadow: 0 -26px 27px 10px
			bottom: -6px
			width: 49px
			z-index: -1
			left: 26px
		&::before
			content: ""
			position: absolute
			box-shadow: 0 -26px 27px 10px
			bottom: -6px
			width: 49px
			z-index: -1
			right: 26px
			
	&__info
		padding: 20px 15px
	&__header
		margin: 0
		color: #5b5b6e
		padding-bottom: 10px
		border-bottom: solid #adadb6 1px
	&__about
		line-height: 20px
		overflow: hidden
		margin: 0
		color: #5b5b6e
		margin-top: 12px
		height: 100px
		
.main
	&__header
		text-align: center
		font-size: 30px
		color: #5b5b6e
		text-transform: uppercase
		transform: translateY(-60%)
	&__menu
		display: flex

// top menu
.nav
	position: relative
	display: flex 
	justify-content: center
	margin-bottom: 40px
	&__list
		display: flex
		list-style-type: none
		padding: 0
		border: 1px solid #fff
	&__list::before
		content: ""
		position: absolute
		top: 58px
		left: 41px
		width: 138px
		box-shadow: 0 -23px 14px 3px
		z-index: -1
		transform: rotateZ(-2deg)
	&__list::after
		content: ""
		position: absolute
		top: 58px
		right: 41px
		width: 138px
		box-shadow: 0 -23px 14px 3px
		z-index: -1
		transform: rotateZ(2deg)

	&__item
		text-align: center
		background: linear-gradient(to bottom, #f2f2f5, #e6e6eb)
		border-radius: 5%
		padding: 3px 30px
		border-right: 0.5px solid #c5c5cd
		cursor: pointer
	&__item:hover
		background: #f2f2f5
	&__item:last-child
		border-right: none
		border-radius: 5%

.menu
	display: flex
	align-items: center
	&__wrapper
		display: flex
		flex-wrap: wrap
		flex-direction: column
		padding-left: 40px
	&__desk
		position: relative
		img
			width: 130px
	&__desk:after
		position: absolute
		content: ""
		background-image: url("../img/main-page/arrow2.png")
		background-repeat: no-repeat
		z-index: -1
		width: 370px
		height: 300px
		top: -68px
		left: 77px
	&__quote
		background-color: #f0f0f0
		height: 142px
		text-align: center
		line-height: 36px
		font-size: 24px
		font-family: Roboto Condensed
		display: flex
		align-items: center
		color: #5b5b6e
	
// main description and slider
.content
	display: flex
	width: 100%
	margin-top: 25px
	&__description
		width: 30%
	&__header
		font-size: 30px
		color: $main-color
		margin-bottom: 15px
		font-family: $roboto
		margin-top: 10px
	&__about
		font-size: 14px
		font-family: $serif
		color: #282833
	&__slider
		width: 63%
		margin-left: 2%
		border: 3px solid #fff
		max-height: 300px
		position: relative
		box-shadow: 2px 3px 12px -2px
		overflow-x: hidden
		&:hover 
			.content__prev
				opacity: .4
				&:hover
					opacity: .8
					cursor: pointer
			.content__next
				opacity: .4
				&:hover
					opacity: .8
					cursor: pointer
	&__controlBar
		position: absolute
		display: flex
		justify-content: space-between
		top: -30px
		left: 50%
		transform: translateX(-50%)
		width: 100px
	&__Larrow
		background-image: url("../img/main-page/arrow.png")
		width: 25px
		height: 20px
		background-repeat: no-repeat
		background-size: 25px 15px
		&:hover
			cursor: pointer
	&__Rarrow
		background-image: url("../img/main-page/arrow3.png")
		width: 25px
		height: 20px
		background-repeat: no-repeat
		background-size: 52px 15px
		&:hover
			cursor: pointer
	&__slide
		font-family: $lobster
		width: 10px
		text-align: center
		font-weight: 400
		color: $main-color
		border-radius: 30%
		&:hover
			cursor: pointer
	// slider buttons
	&__prev, &__next
		position: absolute
		top: 50% 
		width: 40px
		height: 80px
		background-color: #fff
		display: flex
		align-items: center
		justify-content: center
		transform: translateY(-50%)
		opacity: 0
		border-radius: 8%
		z-index: 1
		transition: all 0.3s
		i
			color: lighten($main-color, 20%)
			font-size: 30px
	&__prev
		margin-left: 2%
	&__next
		right: 0
		margin-right: 2%
	&__slideIMG
		width: 100%
		height: 100%
		position: absolute
		left: 0px
		display: flex
		transition: left 0.25s ease-out
		img
			width: 100%
			height: 100%	
// adding to active slide
.selectedSlide
	background-color: lighten(#6b6a82, 40%)
	


.gallery
	&__imgs
		display: flex
		justify-content: space-around
		max-width: 700px
		img
			height: 95px
			width: 125px
			border: 3px solid #fff
	&__header
		font-size: 30px
		color: $main-color
		font-family: $roboto
	
	
	
	
@import "media" 